body {
    background-color: #555555;
    color: #ffffff;
}

header, #cash-input {
    text-align: center;
}

header > h1 {
    font-size: 50px;
}

#change-due {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

#cash-input > div > label {
    font-size: 20px;
}

#cash-input > div > input {
    margin-top: 3px;
    margin-bottom: 10px;
}